.shope_Conainer{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* padding: 80px 0; */
}
.products_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    padding: 80px;
}
.product_info{
    padding: 8px;
}
.shope_container{
    background-color: #ff9800;
    padding: 50px 30px;
}
.shope_container h4{
    color: #fff;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 500;
}
.shope_container p{
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}
/* 
@media (max-width: 1200px){

} */